@font-face {
    font-family: "Jost";
    src: url(font/Jost-Regular.ttf);
    
}
@font-face {
    font-family: "Poppins";
    src: url(font/Poppins-Regular.ttf);
}
:root{
    --primary: #6722b5;
    --black:#19082d;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost";
}

/* **********************************************************     header    ******************************************************* */

header{
    background-image: url(images/main-bg.jpg);
    overflow: hidden;
    z-index: 100;
    position: relative;
    
}
.header-img-abso{
    background-image: url(images/hero-shpae-min.png);
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100%;
    animation-name: img-abso;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes img-abso {
    0%{transform: scale(100%);}
    100%{transform: scale(95%);}
    
}
.navbar{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navbar ul{
    display: flex;
    list-style: none;
}
.navbar li{
    padding: 40px 0;
}
.navbar a{
    text-decoration: none;
    color: var(--black);
    padding:20px;
    font-weight: bold;
    font-family: Poppins;
}
.color{
    color: #6722b5 !important;

}
.search .back{
    background-color: #372748;
    border-radius: 50%;
    padding: 5px;
    margin-left: -10px;
}
.search img{
    vertical-align: middle;
}
/* *********************************** *navbar fin  *********************************0 */

.header-container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95vh;
    
}
.header-img{
    position: relative;
   
    height: 70vh;
    width:40%;
    margin-right: 0%;

}
.header-img img{
    width: 100%;
}
.header-img .img-anime{
    position: relative;
}
.img-anime img{
    position: absolute;
    width: 15%;
}
.img-anime .circle-green{
    top: 100px;
    width: 3.5%;
    animation-name: cercle-g;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes cercle-g {
    from{transform: scale(90%);}
    to{transform: scale(130%);}
}
.img-anime .fermaja{
    width: 15%;
    left: -15px;
    top: -25px;
    animation-name: fermaja;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

@keyframes fermaja {
    0%{transform: rotate(0deg);}
    25%{transform: rotate(40deg);}
    50%{transform: rotate(0deg);}
    75%{transform: rotate(40deg);}
    100%{transform: rotate(0deg);}
}
.img-absolute{
    position: absolute;
    top: -15%;
    left: 5%;
}
.cercle-vide{
    right: 0px;
    top: -40px;
    animation-name: cercle;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}
@keyframes cercle {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
.header-text{
    width: 55%;
    position: relative;
    margin-top: -10%;
}
.cercle-vide-2{
    position: absolute;
    top: -100px;
    left: 100px;
    animation-name: cercle-text;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes cercle-text {
    from{transform:translateY(0);}
    to{transform:translateY(150px);}
}
.header-text h1{
    font-size: 90px;
    font-weight: bold;
    }
.header-text p{
    margin: 20px 0 30px;
    line-height: 1.7;
    color: #3e3e3e;
    font-family: Poppins;
    font-size: 18px;
}
button{
    cursor: pointer;
}
.ma-button{
    background-color: rgba(103, 34, 181, 0.85);
    border: none;
    border-radius: 15px;
    padding: 20px 40px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: .5s;
}
.header-text .ma-button:hover{
    background-color: rgb(222, 111, 0);
}
.button-play{
    border: none;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    vertical-align: middle;
    background-color: transparent;
    margin-left: 30px;
    transition: .5s;
}
.button-play i{
    font-size: 26px;
    color: var(--primary);
    border: 1px solid ;
    border-radius: 10px;
    padding: 19px 25px 20px 28px; 
    margin-right: 15px;
    transition: .5s;
}
.button-play:hover i{
    color: rgb(222, 111, 0);
}
.button-play:hover{
    color: rgb(222, 111, 0);
}
.button-up{
    display: block;
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: var(--primary);
    text-align: center;
    padding: 10px 0;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    z-index: 999;
    transition: 2s;

}

.button-up i{
    color: white;
    font-size: 18px;
}


/* **********************************************************     SERVICE    ******************************************************* */
.service{
    background-image: url(images/service-back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 100px 0;
}
.titre-1{
    color: #ff7425;
    font-size: 19px;
    font-family: Poppins;
    text-align: center;
}
.titre-2{
    color: #19082d;
    font-size: 50px;
    text-align: center;
    width: 25%;
    margin: auto;
    line-height: 1.4;
}
.service-container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
.service-div{
    width: 30%;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    padding: 70px 50px 60px;
    box-shadow: 38px 45px 93px -10px rgb(0 0 0 / 5%);
    margin-bottom: 3%;
}
.service-div:hover{
    box-shadow: 5px 5px 20px 1px #ebd7ff;

}
.service-div img{
    width: 30%;
}
.service-div h3{
    color: var(--black);
    font-size: 30px;
    margin: 20px 0;
}
.service-div p{
    margin: 20px 0;
    font-weight: 500;
    line-height: 1.5;
    font-size: 18px;
}
.service-div a{
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
    font-size: 21px;
}
.service-div a:hover{
    color:#6722b5;
}
.service-div i{
    vertical-align: middle;
    margin-left: 5px;
    color: var(--black);
}
.service-div a:hover i{
    color: var(--primary);
    transform: translateX(15px);
    transition: .5s;
}

/* **********************************************************     ABOUT    ******************************************************* */

.about{
    padding: 100px 0;
}
.about-container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-div, .about-img{
    width: 46%;
}
.about-img{
    background-image: url(images/background-min.png);
    background-repeat: no-repeat;
    background-position: left;
}
.about-img img{
    width: 65%;
    margin-left: 15%;
}

.about-div h1{
    color: var(--primary);
    font-size: 20px;
    margin-bottom: 15px;
    font-family: Poppins;
}
.about-div h2{
    width: 100%;
    text-align: left;
}
.about-div p{
    color: #3e3e3e;
    line-height: 1.6;
    margin: 30px 0;
    font-size: 18px;
    font-family: Poppins;
}
.about-div ul{
    display: flex;
}
.about-div .numero li{
    list-style: none;
    text-align: center;
    margin-right: 23%;
}
.about-div .sous-numero li{
    list-style: none;
    text-align: center;
    margin-right: 8%;
    font-size: 20px;
    color: var(--black);
    font-weight: bold;
}
.about-div .sous-numero li:last-child{
    margin-right: 0;
    margin-left: 4%;
}
.numero{
    color: #ff7425;
    font-size: 40px;
    font-weight: bold;
}

.about-div button{
    margin-top: 30px;
}


/* **********************************************************     portfolio    ******************************************************* */

.portfolio{
    background-image: url(images/portfolio-back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 150px 0 100px;
}
.portfolio-titre{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
   margin-bottom: 60px;
}

.portfolio-titre h1{
    text-align: left;
    margin-bottom: 10px;
}
.portfolio-titre h2{
    font-size: 50px;
    color: white;
}
.portfolio-titre .button-project{
    background-color: transparent;
    color: white;
    padding: 20px 35px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 10px;
}
.portfolio-titre .button-project i{
    vertical-align: middle;
    margin-left: 10px;
    font-size: 18px;
}
.portfolio-titre .button-project:hover{
    background-color: #ff7425;
    color: white; 
    border: 2px solid #ff7425;
    transition: 0.5s;
}
.portfolio-container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.portfolio-div{
    width: 49%;
    border-radius: 30px;
    background-color: white;
    margin-bottom: 2%;
}
.portfolio-div img{
    width: 100%;
    border-radius: 30px 30px 0 0;
    vertical-align: middle;
    
}
.portfolio-img{
    width: 100%;
    overflow: hidden;
    border-radius: 30px 30px 0 0;
}
.portfolio-img img:hover{
    transform: scale(120%);
    border-radius: 30px 30px 0 0;
    transition: 1s;
}
.portfolio-div-text{
    padding: 30px 40px;
}
.portfolio-div .portfolio-div-text a:hover{
    color: #ff7425;
    transition: .5s;
}
.portfolio-div-text a{
    text-decoration: none;
    color: var(--black);
    margin: 10px 0;
    display: block;
}
.portfolio-div-text a:first-child{
   color: var(--primary);
   font-size: 18px;
   font-weight: 500;
}

.portfolio-div-text a:last-child{
    color: #3e3e3e;
    font-size: 40px;
    font-weight: bold;
 }


/* **********************************************************    Strategy      ******************************************************* */

.strategy{
    padding: 100px 0;
}
.strategy-container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.strategy-text{
    width: 50%;
}
.strategy-img{
    width: 48%;
}
.strategy-img img{
    width: 100%;
    margin-top: 100px;
}
.strategy-text h1{
    color: var(--primary);
    text-align: left;
    margin-bottom: 10px;
}
.strategy-text h2{
    text-align: left;
    width: 80%;
    margin: 0;
    margin-bottom: 50px;
}
.deploy{
    border-radius: 20px;
    box-shadow: 5px 5px 20px 5px rgb(243, 243, 243);
    margin-top: 20px;
}
.deploy a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: var(--black);
    font-size: 24px;
    padding: 22px 30px;
    font-weight: 600;
   
}
.deploy a i{
    font-size: 14px;

}

/* **********************************************************    Price     ******************************************************* */

.price{
    padding: 100px 0;
    background-image: url(images/price-back.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.price h2{
    width: 100%;
    margin-top: 20px;
}
.price-button{
    width: 13%;
    margin: 30px auto;
    background-color: white;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgb(240, 240, 240);
    
}
.price-button button:first-child{
    background-color: var(--primary);
    border: none;
    padding: 10px 12px;
    color: white;
    border-radius: 10px;
    font-size: 17px;
    font-family: Poppins;

}
.price-button button:last-child{
    background-color: transparent;
    border: none;
    padding: 10px 12px;
    color: var(--black);
    border-radius: 10px;
    font-size: 17px;
    font-family: Poppins;

}
.price-container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price-div{
    width: 30%;
    background-color: white;
    border-radius: 30px;
    box-shadow: 20px 20px 40px rgb(0 0 1 / 5%);
}
.price-div-titre{
    padding: 40px 40px 20px 40px;
    border-bottom: 1px solid rgb(228, 228, 228);
}
.price-div-titre h1, .price-div-titre h2{
    text-align: left;
    color: var(--primary);
    margin-bottom: -10px;
}
.price-div-caract{
    padding: 20px 40px 40px 40px;
}
.price-div-caract h4{
    color: #3E3E3E;
    margin-bottom: 20px;
    font-weight: 500;
}
.price-div-caract p{
    color: #372748;
    margin-bottom: 20px;
    font-size: 20px;
}
.price-div-caract p i{
    color: #aeaeae;
    margin-right: 10px;
    font-size: 22px;
    vertical-align: middle;

}
.price-div-caract .btn-get-price{
    width: 100%;
    margin: auto;
    background-color: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    padding: 20px 0;
    margin-top: 15px;
}
.price-div-caract .btn-get-price:hover{
   
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: white;
    transition: .5s;
}


/* **********************************************************     Blog    ******************************************************* */

.blog{
    padding: 100px 0;
}
.blog-titre{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog-titre h1,.blog-titre h2{
    text-align: left;
    width: 100%;
}
.blog-titre a{
    padding: 12px 22px;
    border-radius: 100px;
}
.blog-titre a:first-child{
    margin-right: 10px;
}
.blog-titre a:hover{
    background-color: var(--primary);
    background-color: var(--primary);
    color: white;
    transition: .5s;
}
.blog-titre i{
    font-size: 30px;
    vertical-align: middle;
}

.blog-container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.blog-div{
    width: 48%;
    border-radius: 30px;
    box-shadow: 5px 5px 20px 5px rgb(243, 243, 243);
    padding: 50px;
}
.blog-div i{
    font-size: 50px;
    color: var(--primary);
    margin-bottom: 10px;
}
.blog-div p{
    font-family: Poppins;
    line-height: 1.8;
    font-size: 20px;
}

.blog-div img{
    width: 12%;
    margin-right: 15px;
}

.blog-user{
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.blog-user h4{
    font-size: 18px;
}
.blog-user h5{
    color: #686868;
    font-weight: 100;
    margin-top: 5px;
    font-size: 16px;
}
.les-logo{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.les-logo img{
    margin-top: 80px;
    width: 12%;
    cursor: pointer;
}
.les-logo img:hover{
    transform: rotate(360deg);
    transition: .5s;
}


/* **********************************************************     News    ******************************************************* */

.news{
    padding: 100px 0;
    background-color: #e5e5e5;
}
.news h1{
    color: var(--primary);
}
.news-container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.news-div{
    width: 32%;
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    margin-top: 50px;
}
.news-div img{
    width: 100%;
    border-radius: 20px;
    margin-bottom: 25px;
}
.news-div div{
    border-bottom: 1px solid rgb(222, 222, 222);
    padding-bottom: 25px;
    width: 75%;
    margin: auto;
}
.news-div span{
    color: var(--black);
    font-family: Poppins;
}
.news-div span:first-child{
    border-right: 1px solid rgb(222, 222, 222); 
    margin-right: 20px;
    padding-right: 20px;
}
.news-div  span i{
    margin-right: 5px;
}
.news-div .para{
    text-decoration: none;
    font-size: 24px;
    line-height: 1.5;
    font-weight: bold;
    margin: 25px;
    color: var(--black);
    display: block;
}

.news-div .rd-more{
    text-decoration: none;
    color: var(--black);
    font-size: 22px;
    margin: 20px 0;
}
.news-div .rd-more i{
    vertical-align: middle;
    font-size: 14px;
    margin-left: 5px;
}
.news-div .rd-more:hover, .news-div .para:hover{
    color: #ff7425;
    transition: .5s;
}
.news-div .rd-more:hover i{
    color: #ff7425;
    transform: translateX(10px);
    transition: .5s ease;
}

/* **********************************************************     Contact    ******************************************************* */

.contact{
    background-color: #6721B5;
    padding-top: 50px;
}
.contact-container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-div{
    width: 48%;

}
.contact-img{
    background-image: url(images/model-min.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.contact-form{
    width: 48%;
    position: relative;
}
.contact-form h1{
    text-align: left;
}
.contact-form h2{
    text-align: left;
    color: white;
    width: 100%;
    margin: 20px 0;
}

.contact-form p{
    color: rgb(211, 211, 211);
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 40px;
}
.contact-form input, .contact-form textarea{
    background-color: #FFFFFF12;
    padding: 18px 20px;
    font-size: 20px;
    font-weight: 500;
    width: 49%;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    border-width: 0;
    margin-bottom: 15px;
    font-family: Poppins;
}
.contact-form ::-webkit-input-placeholder{
    color: rgb(211, 211, 211);
}
.contact-form textarea{ 
    width: 99%;
}
.contact-form button{
    background-color: #ff7425;
    border-radius: 10px;
    margin-top: 15px;
}
.contact-form span{
    color: white;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 2px;
}

.contact-form  i{
    color: #ff7425;
    background-color: white;
    padding: 25px;
    border-radius: 50%;
    font-size: 20px;
    margin: 0 20px 0 50px;
    animation-name: tel;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    
}
@keyframes tel {
    0%{ box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.650);}
    10%{ box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.600);}
    20%{ box-shadow: 0px 0px 0px 6px rgba(255, 255, 255, 0.550);}
    30%{ box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.500);}
    40%{ box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.450);}
    50%{ box-shadow: 0px 0px 0px 12px rgba(255, 255, 255, 0.400);}
    60%{ box-shadow: 0px 0px 0px 14px rgba(255, 255, 255, 0.350);}
    70%{ box-shadow: 0px 0px 0px 16px rgba(255, 255, 255, 0.300);}
    80%{ box-shadow: 0px 0px 0px 18px rgba(255, 255, 255, 0.250);}
    90%{ box-shadow: 0px 0px 0px 20px rgba(255, 255, 255, 0.200);}
    100%{ box-shadow: 0px 0px 0px 22px rgba(255, 255, 255, 0.150);}
}

.contact-form .cercle-color{
    position: absolute;
    bottom: 10%;
    width: 45px;
    opacity: 30%;
    right: 0;
    animation-name: cercle-color;
    animation-duration: 10s; 
    animation-iteration-count: infinite;
}
@keyframes cercle-color {
    0%{transform: translate(0) rotate(0deg);}
    25%{transform: translate(-10px, 10px) rotate(45deg);}
    50%{transform: translate(5px, -5px) rotate(-45deg);}
    75%{transform: translate(15px, -5px) rotate(45deg);}
    100%{transform: translate(0) rotate(0deg);}
}

/* **********************************************************     footer    ******************************************************* */

footer{
    background-color: var(--black);
    padding: 100px 0 0;
}
.footer-container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.footer-div img{
    margin-bottom: 70px;
    margin-top: -15px;
}
.footer-div p{
    color: #d9d9d9;
    font-family: Poppins;
    font-size: 18px;
    margin-bottom: 20px;
}
.footer-div input{
    width: 80%;
    padding: 20px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-family: Poppins;
    margin-bottom: 30px;
}
.footer-div button{
    padding: 15px 30px;
    border-radius: 10px;
    font-weight: 500;
    margin-bottom: 10px;
}
.footer-div h2{
    color: white;
    margin-bottom: 80px;
}
.footer-div li{
    list-style: none;
    margin-bottom: 20px;
}
.footer-div li a{
    text-decoration: none;
    color: #d9d9d9;
    font-family: Poppins;
}
.footer-div li a:hover{  
    color: #ff7425;
}
.footer-div .rss{
    margin-top: 20px;
}
.footer-div .rss i{
   color: white;
   font-size: 18px;
   margin-right: 5px;
   background-color: #3F3E4C;
   padding: 10px 12px;
   border-radius: 5px;
}
.copyright{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    border-top: 1px solid rgb(55, 55, 55);
}
.copyright div{
    display: flex;
}
.copyright p{
    color: #d9d9d9;
    font-family: Poppins;
}
.copyright li{
    color: #d9d9d9;  
}
.copyright a{
    color: #d9d9d9;
    text-decoration: none;
    font-family: Poppins;
    margin-right: 40px;
}
.copyright a:last-child{
    margin-right: 0px;
}
.copyright a:hover{
    color: #ff7425;
}
